<div class="col-md-3">

  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= link_to user.followings.count, followings_user_path(user) %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= link_to user.followers.count, followers_user_path(user) %></th>
        </tr>
      </tbody>
    </table>

    <% if user.id == current_user.id %> 
      <%= link_to edit_user_path(user) do%>
      <div class="row">
        <button class="btn btn-outline-secondary btn-block">
          <i class="fas fa-user-cog"></i>
        </button>
      </div>
      <% end %>
    <% else %>
      <% if user.is_followed_by?(current_user) %>
        <%= link_to user_relationships_path(user), method: :delete do %>
          <button class="btn btn-danger">フォロー解除</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(user), method: :past do %>
          <button class="btn btn-primary">フォロー</button>
        <% end %>
      <% end %>
      
        <% if (current_user.is_followed_by? user) && (user.is_followed_by? current_user)  %>
          <% if haveRoom == true %>
            <%= link_to "チャットを始める", room_path(roomId), class: "btn btn-warning mt-1"%>
          <% else %>
            <%= form_with model: room, local: true do |f| %>
              <%= fields_for entry do |r| %>
                <%= r.hidden_field :user_id, value: user.id %>
              <% end %>
                <%= f.submit "チャットを始めよう", class: "btn btn-warning mt-1"%>
            <% end %>
          <% end %>
        <% end %>
   
    <% end %>
    

    <h2 class="mt-3">New book</h2>
    <%= form_with model: book,local:true do |f| %>

      <div class="form-grop mb-3">
        <lavel class="mb-3">Title</lavel>
        <%= f.text_field :title,class: "form-control" %>
      </div>

      <div class="form-grop mb-3">
        <lavel class="mb-3">Opinion</lavel>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="form-grop">
        <%= f.submit "Create Book", class: "btn btn-success"%>
      </div>
    <% end %>
</div>
