<div class="col-md-3">

  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>


    <%= link_to edit_user_path(user) do%>
    <div class="row">
      <button class="btn btn-outline-secondary btn-block">
        <i class="fas fa-user-cog"></i>
      </button>
    </div>
    <% end %>

    <h2 class="mt-3">New book</h2>
    <%= form_with model: book,local:true do |f| %>

      <div class="form-grop mb-3">
        <lavel class="mb-3">Title</lavel>
        <%= f.text_field :title,class: "form-control" %>
      </div>

      <div class="form-grop mb-3">
        <lavel class="mb-3">Opinion</lavel>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="form-grop">
        <%= f.submit "Create Book", class: "btn btn-success"%>
      </div>
    <% end %>
</div>
