<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      
      <div id="error_explanation">
      <% if @user.errors.any? %>
        <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
        <% @user.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
        <% end %>
      <% end %>
      </div>
      
      <%= form_with model: @user,local:true do |f| %>
      <div class="form-grop mb-3">
        <lavel>Name</lavel>
        <%= f.text_field :name,class: "form-control" %>
      </div>

      <div class="form-grop mb-3">
        <lavel>Image</lavel>
        <%= f.attachment_field :profile_image,class: "form-control-file" %>
      </div>

      <div class="form-grop mb-3">
        <lavel>Introduction</lavel>
        <%= f.text_area :introduction,class: "form-control" %>
      </div>

      <div class="form-grop mb-3">
        <%= f.submit "Update User", class: "btn btn-secondary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>